//
   Created by DENIS on 09/04/2017.

extends ../templates/layout

block content
    div#report
        h2 Poll report
        h3= poll.title
        table.pure-table.poll-report-table
            thead
                tr
                    th Option
                    th Answers
            tbody
                each option in poll.options
                    tr
                        td= option.name
                        td= option.answers
            tfoot
                tr
                    td Total answers
                    td= totalAnswers
                tr
                    td Total responses
                    td= poll.totalResponses

    button(id='print' type='button').pure-button.pure-button-primary Print report


    script(src='/javascripts/print-poll-report.js')