//
   Created by DENIS on 09/04/2017.

extends ../templates/layout

block content
    p= message
    if poll
        h2=poll.title
        form(action='/poll/vote/' + poll.uniqueID class='pure-form pure-form-stacked poll' method='post')
            table.poll-table
                if poll.type == 'tf'
                    each option in poll.options
                        tr
                            td
                                input(id=option.name name=poll.uniqueID type='radio' value=option.name)
                            td
                                label(for=option.name)= option.name
                if poll.type == 'mc'
                    each option in poll.options
                        tr
                            td
                                input(id=option.name name=option.name type='checkbox' value=option.name)
                            td
                                label(for=option.name)= option.name
            button(class='pure-button pure-button-primary' id='submit' type='submit') Vote
    script(src='/javascripts/poll-vote.js')